<kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit'">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-12" *ngIf="calendarService.conflitDays.length">
				<ngb-alert [dismissible]="false" [type]="'warning'">
					<div>
						<strong>Les collectes suivantes sont en conflit :</strong>
						<ul>
							<li *ngFor="let dayData of calendarService.conflitDays">
								{{dayService.dayNames [dayData.dayOfWeek]}}
								{{dayData.day + 1}}
								{{monthService.monthNames [dayData.month]}}
								{{calendarService.year}} - {{dayData.dayName}}
							</li>
						</ul>
						<button type="button" class="btn btn-danger" (click)="onFixConflits()">Résoudre les conflits</button>
					</div>
				</ngb-alert>
			</div>
		</div>
	</kt-portlet-body>

	<kt-portlet-body [class]="'kt-portlet__body--fit'" *ngIf="calendarService.pageViewMode == 0" id="main-print-view">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-4 col-xl-2 col-md-3 col-lg-2" *ngFor="let monthName of monthService.monthNames; let i = index">
				<kt-widget_month [month]="i"></kt-widget_month>
			</div>
		</div>
	</kt-portlet-body>

	<kt-portlet-body [class]="'kt-portlet__body--fit'" *ngIf="calendarService.pageViewMode >= 1" id="main-print-view-0">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-4 col-xl-2 col-md-3 col-lg-2" *ngFor="let monthName of monthService.monthNames; let i = index">
				<kt-widget_month [month]="i" *ngIf="i < 6"></kt-widget_month>
			</div>
		</div>
	</kt-portlet-body>

	<div class="mt-5"></div>

	<kt-portlet-body [class]="'kt-portlet__body--fit'" *ngIf="calendarService.pageViewMode >= 1" id="main-print-view-1">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-4 col-xl-2 col-md-3 col-lg-2" *ngFor="let monthName of monthService.monthNames; let i = index">
				<kt-widget_month [month]="i" *ngIf="i >= 6"></kt-widget_month>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>