<div class="kt-widget4__item" [ngStyle]="getContainerStyle()" (click)="onEditDay()">
  <h4 class="kt-widget4__icon" [ngStyle]="getDayNumberStyle()">{{day + 1}}</h4>

  <div class="kt-widget4__info">    
    <kt-widget-dayactivity *ngFor="let activityIndex of activities" [activityIndex]="activityIndex" [dayData]="dayData" [ngStyle]="getActivityStyle(activityIndex)"></kt-widget-dayactivity>
    
    <mat-chip color="warn" selected="true" *ngIf="dayData.conflitsProp == 1" [ngStyle]="getDelayedStyle()">Reportée</mat-chip>
    <mat-chip color="accent" selected="true" *ngIf="dayData.conflitsProp == 2" [ngStyle]="getCancelledStyle()">Annulée</mat-chip>

    <span class="kt-widget4__username" [ngStyle]="getWeekDayStyle()">{{getWeekDay()}}</span>
    
    <span class="kt-widget4__username weeknumber" [ngStyle]="getWeekNumberStyle()">{{getWeekNumber()}}</span>

    <p class="kt-widget4__text dayname" [ngStyle]="getDayNameStyle()">{{getDayName()}}</p>
  </div>
</div>
